<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<script>
    let qrcode = new QRCode("output". {
        text: "google.com",
        width: 256,
        height: 256,
        colordarl
    })
</script>
    <title>Document</title>
</head>
<body>
    
<h1>El qr generado es: {{qr}}</h1>
<input id="text" type="text" value="sdfa" style="width:80%" /><br />
<div id="qrcode"></div>
</body>
</html>

